// FOOTER



footer {
	.container{
	 	@media screen and (max-width: $screen-sm) { 
			text-align: center;
		}
	}
	height: auto;
	padding: 15px 0 40px 0;
    bottom: 0;
   // width: 100%;
    background-color: #b6c2c9;
//    position: absolute;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;


    h3{
    	font-size: 18px;
    	font-weight: 300;
    }
    ul {
    	    padding-left: 0px;
	    li{
	    	list-style: none;
	    	font-weight: 300;
	    }
	}
}

